@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

.background {
    width: 100%;
    height: 18rem;
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: rgb(100, 157, 182);
    left: 0;
}
a {
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.arrow{
    top: 1rem;
    position: absolute;
    padding: 1rem; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.hero-text{
    position: absolute !important;
    top: 6rem;
    left: 33rem;
    font-size: 4rem;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.underlined {
   
    position: relative;
}

.underlined-purple:after {
    content: '';
    position: absolute;
    top: 5rem;
    width: 35rem;
    aspect-ratio: 4 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid rgb(231, 214, 32);
    clip-path: polygon(0 0, 40% 18%, 95% 0);
}
.card{
   
    height: 57vh;
    background-color: #0077ff0f;
}
.vertical-ruler {
    height: 6rem;
        width: 1px;
        background-color: #00000021;
        position: absolute;
        left: 29.5rem;
        top: 10.5rem;
}
.hotel-div{

    margin-bottom: 40rem;
    top: 20rem;
    position: relative;
}
.fw-bold{
    font-size: 3rem;
    font-weight: bolder;
}
.name{
    font-family: 'Monrope', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
.star{
    position: absolute;
    font-size: 1.5rem !important;
    font-weight: 700;
    top: 1.3rem;
    right: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.town{
    position: relative;
    font-family: 'MONROPE', sans-serif;
   ;
}
.desc{
    width: 25rem;
    font-size: .8rem;
    font-family: 'Monrope', sans-serif;
    font-weight: 600;
}
.features{
    font-family: 'Monrope', sans-serif;
    color: #008234;
    font-size: .8rem;
}
.hotel-div-2{
    margin-left: 6rem;
    width: 66rem;
    margin-top: 2rem;
    height: 8rem;
    background-color: #0077ff0f;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}
input[type="text"] {
    width: 15rem;
}
.text-center{
    font-family: 'Monrope', sans-serif;
}
#vehicleCarousel{
    position: relative;
    top: 5rem;

}
.hotel-images{
    
    position: relative;
    height: 90vh;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hotel-desc{
    position: relative;
    height: 80vh;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    
}
.hotel-desc{
    font-family: 'Monrope', sans-serif;
    font-weight: 100;
}
.progress {
    height: 10px;
    border-radius: 20px;

}

.progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
}
.progress-bar {
    text-align: left;

    border-radius: 20px;
    transition-duration: 3s;
}
.hotel-ratings{
    position: relative;
   margin-bottom: 2rem;
    left: 1rem;
    font-family: 'Monrope', sans-serif;
    font-weight: 100;
height: 40vh;
}
.site-footer {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
}

.site-footer .inner {
    padding-top: 0px;
    padding-bottom: 70px;
}

.site-footer .inner.first {
    padding-top: 80px;
}

@media (max-width: 991.98px) {
    .site-footer {
        padding-top: 30px;
    }
}

.site-footer a {
    color: #000000;
}

.site-footer a:hover {
    color: #000000;
    text-decoration: underline;
}

.site-footer .widget {
    margin-bottom: 30px;
}

.site-footer .widget h3 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #000000;
    font-family: "Inter", sans-serif;
}

.site-footer .widget .social li {
    display: inline-block;
}

.site-footer .widget .social li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1A374D;
    display: inline-block;
    position: relative;
    color: #ffffff;
    padding-left: .5rem;
    padding-top: .2rem;
    -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
}


.site-footer .widget .social li a:hover {
    background-color: #1A374D;
    color: #ffffff;
}

.site-footer .widget .links li {
    display: block;
    margin-bottom: 10px;
}

.site-footer .widget .links li a {
    color: #000000;
}

.site-footer .widget .links li a:hover {
    color: #000000;
    text-decoration: underline;
}

.site-footer ul.quick-info li {
    position: relative;
    padding-left: 30px;
}


a {
    text-decoration: none;
}
#spinner {
    position: relative;
    top: 40%;
    left: 45%;
}

.spinner-div {
top: 0;
left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #bce1ed4d;
    z-index: 2;

}

#booking-btn{
        width: 10rem;
            height: 5rem;
            position: absolute;
            top: 250rem;
            left: 74vw;
}
