@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
.where-to-text{
    top: 4rem;
    position: absolute;
    left: 4rem;
    color: #1f0101;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;

}
.places{
    margin-top: 15rem;
    width: 100%;
    
    
}
.arrow{
    position: absolute;
    top: 1rem;
    color: black;
}
.package-cards{
    display: flex;
    height: 80vh;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
  

}
.card{
    border-radius: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.card::after{
    border-radius: 1rem;
    width: 100%;
    content: '';
    position: absolute;
      background: linear-gradient(to top, transparent, black);
    height: 100%;
    z-index: 1;
}
.text-lg{
  
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    padding: .5rem;
}
.text-sm{
    font-family: 'Manrope', sans-serif;
    
    padding: .5rem;
}
.button{
    background-color: #6bb8ff;
    border: 1px solid #000;
    position: absolute;
    top: 29rem;
    left: 11rem;
    width: 8rem;
    height: 3rem;

    font: 1em 'Manrope', sans-serif;
}
.video{
    position: absolute;
    top: 13rem;
    left: 12rem;
    
    width: 8rem;
    font-size: 6rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
a{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.311);
}
a:hover{
    color: #ffffff;
    cursor: pointer;
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}
#spinner{
    position: absolute;
    top: 50%;
    left: 45%;
}
.dropdowns{
    position: absolute;
    top: 9rem;
    left: 54rem;
}
.underlined {
    /*   background: red; */
    position: relative;
}
.underlined-purple:after {
    content: '';
    position: absolute;
    top: 115%;
    width: 150%;
    aspect-ratio: 12 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid rgb(134 214 194);
    clip-path: polygon(0 0, 10% 3%, 95% 0);
}