@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
.where-to-text{
    top: 4rem;
    position: absolute;
    left: 40rem;
    color: #1f0101;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;

}
.places{
    margin-top: 15rem;
    border: 1px solid red;
    width: 100%;
}
.arrow{
    position: absolute;
    top: 1rem;
    color: black;
}